# IDE
.idea/
.vscode/
*.iml

# CMake build folders
cmake-build-debug/
cmake-build-release/
build/
out/

# C++ out
*.o
*.obj
*.exe
*.dll
*.so
*.lib
*.a
*.out
*.pdb

# Python out
__pycache__/
pytest-cache-files-25bcyarp/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
pytest-cache/
*.egg-info/

# OS system files
.DS_Store
Thumbs.db

# Dataset and temp
face/TestTensorFlow/data/
**/datasets/
**/outputs/
**/output/
**/temp/
**/cache/
**/*_zh.md